/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
}

.container {
    width: 30%;
    margin: 0 auto;
}

form input {
    width: 75%;
}

form button {
    width: 75%;
}

ul li {
    list-style: none;
    padding: 10px;
    font-size: 130%;
}

ul li:nth-child(odd) {
    background: #e4e4e4;
}

#createFlash {
    width: 100%;
    background-color: #68a34e;
    border-radius: 3px;
    border: 1px solid grey;
    color: white;
    padding: 5px;
}

#dismiss {
    font-size: 120%;
    font-family: Helvetica, Sans-Serif;
    float: right;
    color: black;
}

.remove {
    float: right;
    color: red;
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    font-size: 130%;
}

#deleteFlash {
    width: 100%;
    background-color: #c62927;
    border-radius: 3px;
    border: 1px solid grey;
    color: white;
    padding: 5px;
}

.check {
    width: 30px;
    float: right;
    display: inline-block;
}

.checkmark {
    width: 30px;
}

.removeDiv {
    display: inline-block;
    float: right;
}